table
{
    width: 100%;

}
table thead
{
    color: white;
    background-color: #55608f;
    padding: 0;

}
table thead tr th
{
    white-space: nowrap;
    padding: 4px 0;
    font-size: 18px;
    background-color: #485179;
    position: sticky;
    top: 0px;
}

table tbody tr td
{
    padding: 2px 4px;
    background-color: #929ac010;
    white-space: nowrap;
}
table tbody tr .form_input-options
{
    display: flex;
    justify-content: center;
    padding: 2px;
}






#table_options
{
    width: 100%;
    height: 30px;
    padding: 2px;
}
#table_options button
{
    border: none;
    height: 100%;
    padding: 1px 10px;
    cursor: pointer;
    background-color: #55608f;
    color: white;
    font-size: 14px;
}
#table_options a
{
    color: white;
}


.form_input-options button
{
    width: 58px;
    cursor: pointer;
    border: none;
}

table .btn-link
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    width: 100%;
    height: 100%;
}


