#container #searchForm
{
    width: 100%;
    height: auto;
    margin: 10px 0;
    background-color: #48517940;
}
#container #searchForm div
{
    padding: 5px 0;
}
#container #searchForm p
{
    margin: 10px 0;
}
#container #searchForm h2
{
    background-color: rgb(6, 0, 61);
    color: white;
    font-size: 20px;
    padding: 1px 10px;
    width: min-content;
    white-space: nowrap;
}
#container #searchForm input[type="text"]
{
    width: 100%;
    height: auto;
    padding: 5px 10px;
    border: none;
    font-size: 19px;
}
#container #searchForm input[type="number"]
{
    width: 100%;
    height: auto;
    padding: 5px 10px;
    border: none;
    font-size: 19px;
}
#container #searchForm input[type="submit"]
{
    background-color: rgb(3, 0, 32);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.3s;
}
#container #searchForm input[type="submit"]:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(39, 31, 109);
}

#container #searchForm input[type="date"]
{
    width: 100%;
    height: auto;
    padding: 5px 10px;
    border: none;
    font-size: 19px;
}

#container #searchForm select
{
    width: 100%;
    font-size: 19px;
    padding: 5px 10px;
}