#lessonplan_nav
{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.05);
}
#lessonplan_container
{
    width: 100%;
    height: calc(min-content - 80px);
    display: flex;
    flex-direction: row;
}

#hours_container
{
    width: 70px;
    height: min-content;

    display: flex;
    flex-direction: column;
}
.h_box
{
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 14px;
    text-align: right;
    padding: 2px;
}.h_box:last-child {border-bottom: 1px solid #ccc;}
.h_box span
{
    display: block;
    width: 100%;
    text-align: center;
}

.nav_info
{
    height: 25px;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    text-align: center;
}

#lessons_container
{
    width: calc(100% - 70px);
    height: auto;

    display: flex;
    flex-direction: row;
}

.lesson_container
{
    width: 20%;
    min-width: 140px;
    height: 100%;
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
}

.l_box
{
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;

    display: flex;
    justify-content: row;
    flex-wrap: wrap;

    overflow: hidden;
}
.l_box .teacher
{
    display: block;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 4px;
    font-size: 12px;
    text-align: center;
    height: 25px;
}
.l_box .group
{
    display: block;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 4px;
    font-size: 12px;
    text-align: center;
    height: 25px;
}
.l_box .subject
{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 4px;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: 100%;
}
.l_box .roomNumber
{
    display: block;
    width: 50%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 4px;
    font-size: 12px;
    height: 25px;
}


.l_box select
{
    width: min-content;
    background-color: rgb(238, 238, 238);
    width: min-content;
    max-width: 50%;
    height: 25px;
}


